extends layout

block content
  h1= 'Search Result: ' + title
  - rangers = ['Red','Blaster', 123]
  div(class="container_fluid")
    div(class="row")
    - index = 0
      each ranger in rangers
        div(class="col-sm-2" onclick=`buy(${index})`)
          p #{ranger}
          - index++
  script.
    var rangers = ['Red','Blaster', 123]
    function buy(index){
      alert("You bought " + rangers[index])
    }