extends layout

block content
  h1= title
  - image_names = ['red.jpg', 'blue.jpg', 'black.jpg', 'pink.jpg', 'golden.jpg']
  - for(let i = 0; i < 3; i++)
    - let random_value = Math.floor(Math.random()*5)
    img(src="/images/" + image_names[random_value], alt="Random Ranger", width="300", height="300")
  -